<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Philipe Godoy - Just a dev | Home </title>
		<style type="text/css">
			body {
				margin:40px auto;
				max-width:650px;
				line-height:1.6;
				font-size:18px;
				color:#444;
				padding:0 10px;
				text-align: justify;
			}
			h1 {
				color: #333;
			}
			h1 > em {
				color: #555;
				font-size: 32px;
			}
			h1,h2,h3{
				line-height:1.2
			}
			blockquote {
				font-style: italic;
			}
			img {
				max-width:100%;
				display: block;
				margin: 30px auto;
			}

			a {
				color: #0093c4;
			}

			a:visited {
			      color: #65499c;
			}

		</style>
		</head>
		<body>
			<header>
				<h1> Philipe Godoy, <em>aka JPG</em></h1>
			</header>
			<hr />
		  <h2>O Melhor Programador Que Já Existiu Ou Irá Existir</h2>
			<img src='./god.jpg' />
			<p> 
				Para breviedade vamos chamá-lo de Big-Dev
			</p>
			<p>
				Imagine que em algum lugar do universo existe uma entidade que possui o merito do titulo, melhor programador do universo. Esse
				ser já não precisa mais de computadores, ele conhece a computação de verdade, a que transcende qualquer maquina que possamos inventar,
				ele não se preocupa mais com a complexidade dos algoritmos porque ele consegue realizar qualquer operação em tempo constante, não existem
				tarefas da sprint que possam ser atrasadas porque o próprio conceito de engenharia de software não se mais aplica visto que todo código
				escrito atende completamente a demanda dos stakeholders e não precisa de testes ou refactoring pois é perfeito.
			</p>
			<p>
				Não apenas no parte técnica da nossa profissão que Big-Dev é o melhor, afinal, como poderia o melhor programador de todos os tempos
				não conseguir trabalhar em time? os peers dessa entidade atingem produtividades astronomicas e conseguem se tornar semi-deuses apenas
				com poucos ensinamentos, superando qualquer humano ou mortal que já tenha tentado escrever linhas de código.
			</p>
			<p>
				Esse programador é honesto e simples, tudo que ele faz não é mais complexo do que precisa ser ou mais abstrado do que o necessario,
				tudo tem um sentido e uma aplicação que ao ser notada torna todo o código como musica, em harmonia e perfeição.
			</p>
			<p>
				Todos os programadores se beneficiariam se tentassem se tornar o Melhor Programador De Todos Os Tempos, mesmo que sendo uma tarefa impossivel
				- por definição não existe mais do que um melhor programador de todos os tempos - acredito que possuir essa vontade é tudo o que um mortal
				precisa para alcançar de maneira factivel esse 'divino'
			</p>
			<p>
				Antes do seu próximo commit ou code-review se pergunte, <i> "O que o Maior Programador De Todos Os Tempos faria se estivesse no meu lugar?" </i>
				porque por mais que nossa meta seja impossivel, durante algum tempo se você estiver pensando verdadeiramente nessa pergunta você pode se tornar
				esse programador, mesmo que apenas em um pequeno bug-fix; Valerá a pena (provavelmente).
			</p>
			<img src="./god_and_adam.jpg" />
			<hr />
		</body>
</html>

