<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Philipe Godoy - Just a dev | Home </title>
		<style type="text/css">
			body {
				margin:40px auto;
				max-width:650px;
				line-height:1.6;
				font-size:18px;
				color:#444;
				padding:0 10px;
				text-align: justify;
			}
			h1 {
				color: #333;
			}
			h1 > em {
				color: #555;
				font-size: 32px;
			}
			h1,h2,h3{
				line-height:1.2
			}
			blockquote {
				font-style: italic;
			}
			img {
				max-width:100%;
				display: block;
				margin: 30px auto;
			}

			a {
				color: #0093c4;
			}

			a:visited {
			      color: #65499c;
			}

		</style>
		</head>
		<body>
			<header>
				<h1> Philipe Godoy, <em>aka JPG</em></h1>
			</header>
			<hr />
		  <h2>Probabilidade não existe[*]</h2>
			<img src='./gauss.jpg' />
			<p>
				Antes de mudar completamente o futuro da matemática preciso definir um axioma.	
			</p>
			<p>
				<strong> [Axioma dos multiplos dedos]</strong>, Supondo que certo individuo possua dois dedos é 
				verdadeiro dizer também que ele possui um dedo, pois quem possui dois dedos possui um.
			</p>
			<p>
				<strong> [Teorema: Probabilidade não existe]</strong>, com o axioma anterior e seguindo o mesmo raciocinio
				vamos dizer que a chance de algo acontecer é muito provavel, dessa forma podemos inferir que essa coisa
				também é pouco provavel, pois quando se tem muitos também se tem poucos. <br /> <br />
				Usando a mesma linha de pensamento porém considerando que a chance de algo acontecer é uma medida de 'vazio', 				isto é, quanto mais provavel menos 'coisa' teremos, temos que quando evento possui baixa probabilidade 
				de acontecer ele possui muita (pensando igual o paragrafo anterior porém de maneira inversa) 
			</p>
			<p>
				Provando assim como gostariamos.
			</p>
			<p style="color: gray; font-size: 14px">
				[*] É bem provavel que esse texto seja uma tentativa de piada.
			</p>
			<hr />
		</body>
</html>

